<div class="timer-container">
  <div class="timer-display">
    <span [ngClass] = "{ 'focus': !isBreakTime(), 'break': isBreakTime() }">{{ currentTime().minutes| number: '2.0' }} : {{ currentTime().seconds| number: '2.0' }}</span>
  </div>
  <p>Sessions left: {{sessionNumber()}}</p>
  <div class="timer-buttons">
    <button class="btn start" (click)="startTimer()">Start</button>
    <button class="btn stop" (click)="stopTimer()">Stop</button>
    <button class="btn reset" (click)="resetTimer()">Reset</button>
   </div>
</div>